<div class="main">
  <div class="title-elt">
    <span class="title-text">Recherche</span>
  </div>


    <form class="example-form" [formGroup]="searchForm" (ngSubmit)="onSubmit()">
        <mat-form-field class="example-full-width">
            <mat-label>Search</mat-label>
            <input
                matInput
                type="search"
                formControlName="search_value"
                placeholder="Entrer votre recherche"
            />
        </mat-form-field>
        
        <button mat-icon-button type="submit" class="search-btn">
            <mat-icon>search</mat-icon>
        </button>
    </form>
 
 

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="familly_id">
      <th mat-header-cell *matHeaderCellDef>ID de la famille</th>
      <td mat-cell *matCellDef="let element">{{ element.familly_id }}</td>
    </ng-container>

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let element">
        <a
          [routerLink]="['/person', element.id]"
          routerLinkActive="active-link"
          class="id-link"
          >{{ element.id }}</a
        >
      </td>
    </ng-container>

    <ng-container matColumnDef="first_name">
      <th mat-header-cell *matHeaderCellDef>Prénom</th>
      <td mat-cell *matCellDef="let element">{{ element.first_name }}</td>
    </ng-container>
    <ng-container matColumnDef="last_name">
      <th mat-header-cell *matHeaderCellDef>Nom</th>
      <td mat-cell *matCellDef="let element">{{ element.last_name }}</td>
    </ng-container>

    <ng-container matColumnDef="events">
      <th mat-header-cell *matHeaderCellDef>Evénements</th>
      <td mat-cell *matCellDef="let element">{{ element.events.length }}</td>
    </ng-container>

    <ng-container matColumnDef="relations">
      <th mat-header-cell *matHeaderCellDef>Relations</th>
      <td mat-cell *matCellDef="let element">{{ element.relations.length }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    [length]="paginatorLength"
    [pageSize]="10"
    [pageIndex]="currentPage - 1"
    (page)="handlePageEvent($event)"
    aria-label="Select page"
  >
  </mat-paginator>
</div>
