.example-form {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
}

.example-full-width {
  width: 405px;
  margin-top: 20px;
}

.names-row {
  display: flex;
  gap: 112px;
}
.delete-btn{
  background: #e4f7fb !important;
}
.input-elt:disabled {
  color: #122d3e !important;
}
