<div class="toolbar">
  <mat-toolbar style="background: #122d3e">
    <img src="assets/logow.svg" alt="logo" style="width: 80px" />

    <span class="example-spacer"></span>
    <button
      mat-icon-button
      class="example-icon favorite-icon"
      aria-label="Example icon-button with heart icon"
    >
      <mat-icon>add</mat-icon>
    </button>
    <button
      mat-icon-button
      class="example-icon favorite-icon"
      aria-label="Example icon-button with heart icon"
    >
      <mat-icon>search</mat-icon>
    </button>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with share icon"
    >
      <mat-icon>grid_view</mat-icon>
    </button>
  </mat-toolbar>
</div>
