<div class="toolbar">
  <mat-toolbar style="background: #122d3e">
    <a
        [routerLink]="['/']"
        routerLinkActive="active-link"
        class="create-acc"
        >

        <img src="assets/logow.svg" alt="logo" style="width: 80px" />
        </a>

    <span class="example-spacer"></span>
    <button mat-icon-button (click)="navigateToPersonCreate()" *ngIf="hide">
      <mat-icon class="tab-icon">add</mat-icon>
    </button>
    <button mat-icon-button (click)="navigateToSearch()">
      <mat-icon class="tab-icon">search</mat-icon>
    </button>
    <button mat-icon-button *ngIf="hide" (click)="navigateToDashboard()">
      <mat-icon class="tab-icon">grid_view</mat-icon>
    </button>
    <button mat-icon-button *ngIf="hide" (click)="logout()">
      <mat-icon class="tab-icon">logout</mat-icon>
    </button>
  </mat-toolbar>
</div>
