.example-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  
    height: 100%;
    width: 100%;
  }
  
  .example-full-width {
    width: 405px;
    margin-top: 20px;
  }
  
  .names-row {
    display: flex;
    width: 100%;
    gap: 112px;
  }
  .input-elt:disabled {
    color: #122d3e !important;
  }
  