<form class="example-form" [formGroup]="eventForm">
    <div class="names-row">
      <mat-form-field class="example-full-width">
        <mat-label>type d'événement</mat-label>
        <input
          class="input-elt"
          matInput
          type="text"
          formControlName="event_type"
          placeholder="entrer le type d'événements"
        />
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Nom de l'événement</mat-label>
        <input
          class="input-elt"
          matInput
          type="text"
          formControlName="event_name"
          placeholder="entrer le nom de l'événement"
        />
      </mat-form-field>
    </div>
    <button mat-icon-button (click)="deleteEvent()" class="delete-btn" *ngIf="canEdit">
      <mat-icon>delete</mat-icon>
    </button>
  </form>
  