.main {
  margin-top: 20px;
  margin-left: 80px;
}

.mat-elevation-z8 {
  margin-bottom: 20px;
}
.title-elt {
  display: flex;
  width: 612px;
  padding: 20px 10px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  background: #122d3e !important;
}

.title-text {
  color: #fff;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 120% */
  letter-spacing: 0.15px;
  text-transform: uppercase;
}

table {
  margin-top: 40px;
  width: 100%;
}
