<app-topbar></app-topbar>
<main class="main">
  <div class="hero-section">
    <h1 style="color: #fff">Heritage Hub</h1>
    <p class="hero-para">
      Préservez l'héritage familial en enregistrant les personnes et les moments
      importants de la vie de vos proches.
    </p>
    <div class="auth-buttons">
      <button
        mat-raised-button
        class="btn"
        style="background: #e4f7fb"
        (click)="navigateToLogin()"
      >
        <span class="text-btn">se connecter</span>
      </button>
      <button
        mat-raised-button
        class="btn"
        style="background: #12143e"
        (click)="navigateToRegister()"
      >
        <span class="text-btn" style="color: #e4f7fb">Créer un compte</span>
      </button>
    </div>
  </div>
  <div class="discover-section">
    <div text>
      <h3>Heritage Hub</h3>
      <p class="text-para">
        vous ouvre les portes vers une expérience unique où vous pouvez
        préserver l'héritage familial en toute simplicité. Imaginez un espace
        dédié à la préservation des moments précieux, des histoires familiales
        et des souvenirs qui vous tiennent à cœur. C'est bien plus qu'une simple
        application, c'est un sanctuaire numérique pour célébrer et partager
        l'histoire de votre famille, connecter les générations et construire un
        pont entre le passé, le présent et l'avenir.
      </p>
    </div>
    <div>
      <img src="assets/image.png" alt="" />
    </div>
  </div>
</main>
