<div class="login-page-container">
  <div class="image-container">
    <div class="image">
      <img src="assets/image.png" alt="banner" />
    </div>
  </div>
  <div class="login-form-container">
    <img src="assets/logo.svg" alt="logo" class="logo" />
    <form class="example-form">
      <h1 class="connectez-vous">Créer votre compte</h1>
      <mat-form-field class="example-full-width">
        <mat-label>Username</mat-label>
        <input
          matInput
          type="text"
          formControlName="username"
          placeholder="enter a username"
        />
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input
          matInput
          type="email"
          formControlName="email"
          placeholder="Ex. pat@example.com"
        />
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input
          matInput
          type="password"
          formControlName="password"
          placeholder="enter your password"
        />
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Confirm password</mat-label>
        <input
          matInput
          type="password"
          formControlName="password"
          placeholder="confirm your password"
        />
      </mat-form-field>
      <span class="create-acc">Vous avez déja un compte ?</span>
      <button mat-raised-button color="primary" class="button">Submit</button>
    </form>
  </div>
</div>
